@()(implicit session: Session)

@main("Contact Information") {
    <div class="slider-area">
        <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide">
                        <div class="slide-bg slide-one"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6 details-card">
                                            <div class="slide-content details">
                                                <h2>Contact Details</h2>
                                                    <span class="">
                                                        email : eshopmail.com
                                                        <br><br>
                                                        telephone : 9999999999
                                                        <br>  <br>
                                                        facebook : eShop electronics
                                                        <br> <br>
                                                        <img class="rounded-circle" height="120" width="120" src="@routes.Assets.versioned("/img/contact.jpeg")">
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- End slider area -->
}