@()(implicit session: Session)

@main("Product") {
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                    <div class="product-content-right">
                        <div class="row">
                            <div class="card-body">
                                <div class="card">
                                    <img src="@routes.Assets.versioned("img/product-4.jpg")" alt="Denim Jeans">
                                    <h1>Tailored Jeans</h1>
                                    <p class="price">$19.99</p>
                                    <p>lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                </div><br>
                                <div class="product-inner">
                                    <h2 class="product-name">Sony Smart TV</h2>
                                    <div class="product-inner-price">
                                        <ins>$700.00</ins> <del>$800.00</del>
                                    </div>

                                    <form action="" class="cart">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
}
